.profile-parent.modal-parent(data-id='{{id}}')
  img.profile-image(src='http://lorempixel.com/250/200/people/')
  h4 Name:
    span.profile-firstname {{firstname}}
    span.profile-lastname {{lastname}}
  h5
    | DOB:
    span.profile-college {{month}} {{day}}th, {{year}} 
  h5
    span.profile-city {{city}}, 
    span.profile-state {{state}}
  h5
    span.profile-college {{college}}
  h5
    span.profile-college {{highschool}}
  h5
    | GPA:
    span.profile-college {{gpa}}
  h5
    | Class Rank:
    span.profile-college {{classrank}}
  h5
    | Possible Major:
    span.profile-college {{major}}
  h5
    | Seeking:
    span.profile-college {{cost}}
  p
    | Essay:
    span.profile-college {{essay}}
