.body-color {
	background-color: #F3F3F3;   /* #EEEEEE */
}
.email-color {
	background-color: #F21E41;
	color: white;
	padding: 25px;
}
#signup-btn {
	background-color: #BC4018;
	color: white;
}
.footer {
	padding: 20px;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
	margin-top: 35px;
}
#topnav {
	background-color: #06a9ef;   /* 1F3A93*/
	padding: 8px;
	margin-bottom: -19px;
}
#topnav-2 {
	background-color:  #06a9ef;
	padding: 8px;
}
#colored-brand {
	color: white;
	font-size: 25px;
	font-family: brandon-grotesque, sans-serif;
}
#colored-links {
	color: white;
	font-size: 18px;
}
#colored-signin {
	color: white;
	font-size: 18px;
	background-color:  #06a9ef;
}
#dropdown-menu {
	margin-top: 12px;
	padding: 15px;
	min-width: 250px;
}
.carousel-image {
	width: 100%;
	max-height: 400px;
}
#carousel-inside {
	max-height: 400px;
	width: 100%;
}

#carousel-words {
	color: white;
}
.featurette-divider {
	margin: 80px 0px;
}
.featurette-divider-2 {
	margin: 80px 0px 0px 0px;
}
.featurette-heading {
	margin-top: 120px;
}
#row-featurette {
	margin-top: 50px;
}
#form-measure {
	width: 13%;
}
#form-measure2 {
	width: 50%;
}
#essay {
	margin-left: 13.4%;
	border-radius: 7px;
	border: none;
	margin-bottom: 20px;
}
#myspan {
	width: 3px;
}
#form-submit-button {
	background-color: #1F3A93;
	color: white;
}
.sort-students {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.sort-students-words {
	display: inline;
	width: 70px;
}
.sort-students-state {
	display: inline;
	width: 16%;
}
.students-container {
	background-color: #C5EFF7;
	border-radius: 7px;
}
.profile-container {
	text-align: center;
	border: 2px solid black;
	margin-bottom: 20px;
	border-radius: 7px;
	display: inline-block;
	box-shadow: 5px;
}
.profile-parent {
	text-align: center;
}
.pic-border {
	border: 2px solid black;
	box-shadow: 5px;
	background-color: #EEEEEE;
}
.learn-more {
	color: white;
	text-decoration: none;
}
.remove {
	display: none;
}